@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i|Roboto:900&display=swap');

body {
  background-color: lightblue;
}

header{
  background-color: #005293;
  padding-top: 2em;
  text-align:  center;
  color: white;
  border-radius: 20px;
}

ul{
  list-style: none;
  text-align: center;
  padding: 50px;
}
